In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
my_list = [10, 20 ,30]
arr = np.array([10, 20, 30])
d = {'a':10, 'b':20, 'c':30}

In [3]:
pd.Series(data = my_list)

0    10
1    20
2    30
dtype: int64

In [5]:
pd.Series(data = my_list, index = labels)

a    10
b    20
c    30
dtype: int64

In [ ]:
pd.Series(my_list, labels)

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(arr)(arr, labels)

In [ ]:
d = {'a':10, 'b':20, 'c':30}
pd.Series(d)

In [10]:
a = [i for i in range(1, 5)]
b = [i for i in range(5, 9)]
c = [i for i in range(9, 13)]

In [7]:
pd.DataFrame(data = [a, b, c],
            index = 'a b c'.split(),
            columns = 'w x y z'.split())

   w   x   y   z
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [8]:
pd.DataFrame(data = list(zip(a, b, c)),
            index = 'w x y z'.split(),
            columns = 'a b c'.split())

   a  b   c
w  1  5   9
x  2  6  10
y  3  7  11
z  4  8  12

In [12]:
my_list = [[1, 2, 3, 4],
           [5, 6, 7, 8],
           [9, 10, 11, 12]]
pd.DataFrame(my_list,
            index = 'a b c'.split(),
            columns = 'w x y z'.split())

   w   x   y   z
a  1   2   3   4
b  5   6   7   8
c  9  10  11  12

In [13]:
pd.DataFrame(my_list,
            index = 'a b c'.split(),
            columns = 'w x y z'.split()).T

   a  b   c
w  1  5   9
x  2  6  10
y  3  7  11
z  4  8  12

In [ ]:
from numpy.random import randn
np.random.seed(101)

In [17]:
df = pd.DataFrame(randn(5, 4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())

NameError: name 'randn' is not defined

In [16]:
df

NameError: name 'df' is not defined

In [15]:
my_d = {'a' : [1, 2 ,3, 4],
            'b' : [5, 6, 7, 8],
            'c' : [9, 10, 11 ,12]}
pd.DataFrame(my_d,
            index = 'w x y z'.split())

   a  b   c
w  1  5   9
x  2  6  10
y  3  7  11
z  4  8  12